<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="layout :: head('Library')"></head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <div th:insert="layout :: adminheader('Library')">

    </div>

    <div class="row news-heading">
        <div class="content">
            <div class="row" style="padding: 10px">
                <div th:replace="layout :: adminsidebar">

                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="news-content" style="text-align: center;">
                                <img src="assets/img/admindash.jpg" style="display: inline-block; border-radius: 10px;">

                                <div class="news-details">
                                    <h5 class="text-center">The Night Prophecy</h5>
                                    <h6 class="text-center" style="color: #C4C4C4">by Mara Franzis</h6>
                                    <input type="button" value="Read now" class="btn"
                                           style="background-color: #f8f9fa; color: black;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">

                        </div>
                        <div class="col-3 row justify-content-end">
                            <input type="button" value="Next Page >" class="btn "
                                   style="width: 120px; background-color: #f8f9fa; color: black;"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>
    <!-- End of Footer -->
</section>

<script src="assets/js/app.js "></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js "></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js "></script>
</body>

</html>