<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="layout :: head('Payment')"></head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <div th:insert="layout :: adminheader('Payment')">

    </div>
    <div class="row news-heading">
        <div class="content">
            <div class="row" style="padding: 10px">
                <div th:replace="layout :: adminsidebar">

                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="row" style="padding: 10px;">
                        <div class="col-7">
                            <div class="row"
                                 style="background-color: #F8F7FD; padding: 12px; border-radius: 10px; margin: 3px;">
                                <div class="col"><span><h5>Annual Dues</h5></span></div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row" style="color: white;padding: 5px; border-radius: 10px; margin: 3px;">
                                <div class="col">
                                    <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                                    <button style="background-color: #66B700 ; color: white;padding: 5px; border-radius: 10px; margin: 3px;"
                                            type="button" onClick="payWithRave()">Proceed to Payment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <!--<h2 style="margin-left: 40px;padding: 20px" class="text-center">Payment</h2>-->
                    <p class="text-center" ><i class="fas fa-history"></i>
                        Payment History</p><div class="col" style="background-color: #F8F7FD; padding: 5px; border-radius: 10px; margin: 3px;">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">Payment Details</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date/Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Annuak Dues</td>
                                <td><span class="fa fa-check-circle" style="color: #66B700;"></span> Completed</td>
                                <td>10/08/2020 - 10:00am</td>
                            </tr>
                            <tr>
                                <td>Annuak Dues</td>
                                <td><span class="fa fa-check-circle" style="color: #66B700;"></span> Completed</td>
                                <td>10/08/2020 - 10:00am</td>
                            </tr>
                            <tr>
                                <td>Annuak Dues</td>
                                <td><span class="fa fa-check-circle" style="color: #66B700;"></span> Completed</td>
                                <td>10/08/2020 - 10:00am</td>
                            </tr>
                            <tr>
                                <td>Annuak Dues</td>
                                <td><span class="fa fa-exclamation-circle" style="color: red;"></span> Failed</td>
                                <td>10/08/2020 - 10:00am</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>

    <!-- End of Footer -->
</section>

<script src="assets/js/app.js "></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js "></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js "></script>
<script>
    const API_publicKey = "FLWPUBK_TEST-a55cebaec65ef9f1cc6d77db8ff35c22-X";

    function payWithRave() {
        var x = getpaidSetup({
            PBFPubKey: API_publicKey,
            customer_email: "user@example.com",
            amount: 2000,
            customer_phone: "234099940409",
            currency: "NGN",
            txref: "rave-123456",
            meta: [{
                metaname: "flightID",
                metavalue: "AP1234"
            }],
            onclose: function () {
            },
            callback: function (response) {
                var txref = response.data.txRef; // collect txRef returned and pass to a                    server page to complete status check.
                console.log("This is the response returned after a charge", response);
                if (
                    response.data.chargeResponseCode == "00" ||
                    response.data.chargeResponseCode == "0"
                ) {
                    // redirect to a success page
                } else {
                    // redirect to a failure page.
                }

                x.close(); // use this to close the modal immediately after payment.
            }
        });
    }
</script>
</body>

</html>