<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="layout :: head('Dashboard')"></head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <div th:insert="layout :: adminheader('Control Panel')">

    </div>
    <div class="row news-heading">
        <div class="content">
            <div class="row" style="padding: 10px">
                <div th:replace="layout :: adminsidebar">

                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="row">

                        <div class="col">
                            <a href="/memberlist" style="text-decoration: none">
                            <div class="news-details">
                                Approved Requests
                            </div>
                            <div class="news-content" style="box-shadow: 0px 0px 3px 3px #eeeef0; text-align: center; background-color: #F8F7FD; border-radius: 10px; padding: 10px;">
                                <div class="fa fa-check-circle" style="color: #66B700; font-size: 60px; margin: 10px">
                                </div>
                                <h3>11084</h3>
                            </div>
                            </a>
                        </div>

                        <div class="col">
                            <a href="/pendingrequest" style="text-decoration: none">
                                <div class="news-details">
                                Pending Requests
                            </div>
                            <div class="news-content" style="box-shadow: 0px 0px 3px 3px #eeeef0; text-align: center; background-color: #F8F7FD; border-radius: 10px; padding: 10px;">
                                <div class="fa fa-hourglass-start" style="background-color: #DB7600; color: white; border-radius: 30px; padding: 10px; padding-inline: 15px; font-size: 40px; margin: 10px">
                                </div>
                                <h3>11084</h3>
                            </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" style="text-decoration: none">
                            <div class="news-details">
                                Rejected Requests
                            </div>
                            <div class="news-content" style="box-shadow: 0px 0px 3px 3px #eeeef0; text-align: center; background-color: #F8F7FD; border-radius: 10px; padding: 10px;">
                                <div class="fa fa-times-circle" style="color: #DB1A00; font-size: 60px; margin: 10px">
                                </div>
                                <h3>11084</h3>
                            </div>
                            </a>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                    <br><br><br>Recent activities
                    <br><br>
                    <div class="row">
                        <div class="col row" style="background-color: #F8F7FD; padding: 8px; border-radius: 10px; margin: 18px;">
                            <div class="col"><span style="margin: 10px">John Doe </span></div>
                            <div class="col"><span style="margin: 10px">SC Number </span></div>
                        </div>
                        <div class="col-2 row" style="padding: 15px; border-radius: 10px; margin: 8px;">
                            <input type="button" value="Suspend" class="btn" style="background-color: #FF0000">
                        </div>
                        <div class="col-2 row" style="padding: 15px; border-radius: 10px; margin: 8px;">
                            <input type="button" value="Reinstate" class="btn" style="background-color: #66B700">
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col row" style="background-color: #F8F7FD; padding: 8px; border-radius: 10px; margin: 18px;">
                            <div class="col"><span style="margin: 10px">John Doe </span></div>
                            <div class="col"><span style="margin: 10px">SC Number </span></div>
                        </div>
                        <div class="col-2 row" style="padding: 15px; border-radius: 10px; margin: 8px;">
                            <input type="button" value="Suspend" class="btn" style="background-color: #FF0000">
                        </div>
                        <div class="col-2 row" style="padding: 15px; border-radius: 10px; margin: 8px;">
                            <input type="button" value="Reinstate" class="btn" style="background-color: #66B700">
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>
    <!-- End of Footer -->
</section>

<script src="assets/js/app.js "></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js "></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js "></script>
</body>

</html>