<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout :: head('Create Posts')"></head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <div th:insert="layout :: adminheader('Create Post')">

    </div>
    <div class="row news-heading">
        <div class="content">
            <div class="row" style="padding: 10px">
                <form class="row" th:action="|@{/new-post/{id}(id=${isUpdate == true ? post.id : ''})}?type=news|" th:method="post" th:object="${post}" enctype="multipart/form-data">
                    <div th:replace="layout :: adminsidebar">

                    </div>
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7">

                        <div class="event-heading">
                            <div class="event-content">

                                <section
                                        th:class="${#fields.hasErrors('*')}  ? 'alert alert-danger text-danger' : 'hidden'">
                                    <li th:each="e : ${#fields.detailedErrors()}" th:attr="field=${e.fieldName}"
                                        th:text="${e.message}"></li>
                                </section>
                                <label class="form-check-label">Post Image</label><br><br>
                                <input required type="file" alt="" placeholder="Upload Post Image"
                                       name="attachment"><br><br>
                                <label class="form-check-label">Post Title</label>
                                <input required type="text" name="title" id="title" class="form-control" placeholder=""
                                       th:field="*{title}"><br><br>
                                <label class="form-check-label">Post Description</label>
                                <textarea required name="description" id="" cols="30" rows="10" class="form-control"
                                          th:field="*{description}">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2" style="padding-top: 80px">
                        <button type="submit" style="background-color: #66B700; width: 40%;" class="btn">Save</button>
                        <br><br>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>
    <!-- End of Footer -->
</section>

<script src="assets/js/app.js "></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>