<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="layout :: head('Dashboard')"></head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <div th:insert="layout :: adminheader('Pending Profile')">

    </div>
    <div class="row news-heading">
        <div class="content">
            <div class="row" style="padding: 10px">
                <div th:replace="layout :: adminsidebar">

                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="container">

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="mem-content2">
                                    <div class=" row">
                                        <div class="col-md-6" style="padding-top: 10px;">
                                            <img src="assets/img/profile.jpg" style="border-radius: 20px; width: 300px;">
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"> </div>

                                        <div class="news-details">
                                            <h6 style="color: #D2D0D0; font-size: 12px; margin: 0px;">Name</h6>
                                            <h5>John Doe</h5>
                                            <h6 style="color: #D2D0D0; font-size: 12px; margin: 0px;">SC Number</h6>
                                            <p>123456</p>
                                            <ion-icon style="color: black; font-size: 12px;" name="call"></ion-icon><span style="font-size: 14px;"> +2348168898023</span><br><br>
                                            <ion-icon style="color: black;" name="mail"></ion-icon><span style="font-size: 14px;"> johndoe@gmail.com</span><br><br>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="mem-content2">
                                    <h6 style="color: #D2D0D0; font-size: 25px; margin: 0px;">Bio</h6>
                                    <p style="text-align: justify;">
                                        perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
                                        perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
                                        perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
                                    </p><br>
                                    <h6 style="color: #D2D0D0; font-size: 16px; margin: 0px;">Chambers address</h6>
                                    <div class="row">
                                        <div class="col-2" style="padding: 15px; border-radius: 10px; margin: 8px;">
                                            <button type="button" style="background-color: #FF0000" class="btn" data-toggle="modal" data-target="#myModal">
                                                Accept
                                            </button>
                                        </div>
                                        <div class="col-2" style="padding: 15px; border-radius: 10px; margin: 8px;">
                                            <button type="button" style="background-color: #66B700" class="btn" data-toggle="modal" data-target="#reject">
                                                Reject
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="text-center"><br>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">Are you sure you want to ACCEPT?</label>
                                    </div><br><br>
                                    <button type="button" style="background-color: #FF0000; width: 50%;" class="btn">Proceed</button>
                                </div><br><br>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div class="modal" id="reject">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="text-center"><br>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">Are you sure REJECT?</label>
                                    </div><br><br>
                                    <button type="button" style="background-color: #66B700; width: 50%;" class="btn">Proceed</button>
                                </div><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>
    <!-- End of Footer -->
</section>

<script src="assets/js/app.js "></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js "></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js "></script>
</body>

</html>