<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout :: head('Dashboard')"></head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <div th:insert="layout :: adminheader('Dashboard')">

    </div>
    <div class="row news-heading">
        <div class="content">
            <div class="row" style="padding: 10px">
                <div th:replace="layout :: adminsidebar">

                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col">
                            <a href="/createpost" style="text-decoration: none">
                                <div class="news-details">
                                    Create Post
                                </div>
                                <div class="news-content"
                                     style="box-shadow: 0px 0px 3px 3px #eeeef0; text-align: center; background-color: #F8F7FD; border-radius: 10px; padding: 10px; padding-bottom: 25px; padding-top: 25px">
                                    <div class="fa fa-plus" style="color: #676767; font-size: 60px; margin: 10px">
                                    </div>
                                    <h3></h3>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="/createevent" style="text-decoration: none">
                                <div class="news-details">
                                    Create Events
                                </div>
                                <div class="news-content"
                                     style="box-shadow: 0px 0px 3px 3px #eeeef0; text-align: center; background-color: #F8F7FD; border-radius: 10px; padding: 10px; padding-bottom: 25px; padding-top: 25px">
                                    <div class="fa fa-plus" style="color: #676767; font-size: 60px; margin: 10px">
                                    </div>
                                    <h3></h3>
                                </div>
                            </a>
                        </div>

                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                    <br><br><br>Recent Posts
                    <br><br>
                    <div class="row" th:each="recentPost : ${recentPosts}">
                        <div class="col row" style="background-color: #F8F7FD; padding: 8px; border-radius: 10px; margin: 18px;">
                            <div class="col news-content" style="text-align: center;">
                                <img th:src="@{'/image/'+${recentPost.id}+'/'+${recentPost.image}}" src="assets/img/profile.jpg"
                                     style="display: inline-block; border-radius: 250px; width: 80px;">
                            </div>
                            <div class="col">
                                <b style="margin: 10px;" th:text="${recentPost.title}">Title </b>
                                <p style="margin: 10px; color: #DB7600;">Published &nbsp;<span style="color: #5a5a5a;" th:text="${#temporals.format(recentPost.dateCreated, 'MMM. d')}" ></span></p>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-1">
                                <a th:href="|/editpost/${recentPost.id}|" href="/editpost"
                                   style="text-decoration: none; margin: 10px; color: #000;" class="fa fa-edit">
                                </a>
                            </div>
                            <div class="col-1">
                                <button type="button" style="border-color: white; background-color: #F8F7FD; margin: 8px;"
                                        class="fa fa-trash btn-delete" data-toggle="modal" data-target="#delete"
                                        th:data-id="${recentPost.id}"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col row"
                             style="background-color: #F8F7FD; padding: 8px; border-radius: 10px; margin: 18px;">
                            <div class="col news-content" style="text-align: center;">
                                <img src="assets/img/profile.jpg"
                                     style="display: inline-block; border-radius: 250px; width: 80px;">
                            </div>
                            <div class="col">
                                <b style="margin: 10px;">Title </b>
                                <p style="margin: 10px;"><span style="color: #DB7600;">Published</span> Aug. 11 </p>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-1">
                                <a href="/editpost" style="text-decoration: none; margin: 10px; color: #000;"
                                   class="fa fa-edit">
                                </a>
                            </div>
                            <div class="col-1">
                                <button type="button"
                                        style="border-color: white; background-color: #F8F7FD; margin: 8px;"
                                        class="fa fa-trash" data-toggle="modal" data-target="#delete"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col row"
                             style="background-color: #F8F7FD; padding: 8px; border-radius: 10px; margin: 18px;">
                            <div class="col news-content" style="text-align: center;">
                                <img src="assets/img/profile.jpg"
                                     style="display: inline-block; border-radius: 250px; width: 80px;">
                            </div>
                            <div class="col">
                                <b style="margin: 10px;">Title </b>
                                <p style="margin: 10px;"><span style="color: #DB7600;">Published</span> Aug. 11 </p>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-1">
                                <a href="/editpost" style="text-decoration: none; margin: 10px; color: #000;"
                                   class="fa fa-edit">
                                </a>
                            </div>
                            <div class="col-1">
                                <button type="button"
                                        style="border-color: white; background-color: #F8F7FD; margin: 8px;"
                                        class="fa fa-trash" data-toggle="modal" data-target="#delete"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- The Modal -->
                <div class="modal" id="delete">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="text-center"><br>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">Are you sure?</label>
                                    </div>
                                    <br><br>
                                    <form id="delete-form" method="post">
                                        <input hidden name="id" id="id-container">
                                        <button id="delete-btn" type="submit" style="background-color: #66B700; width: 50%;" class="btn">Proceed
                                        </button>
                                    </form>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>
    <!-- End of Footer -->
</section>

<script src="assets/js/app.js "></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js "></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js "></script>
</body>

</html>