<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout :: head('Catalogue')">

</head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <header th:insert="layout :: header" ></header>
    <div style="padding: 35px;">
        <h3 class="breadcrumb" style="background-color: #66b700;">News</h3>
    </div>

    <div class="container">
        <form action="/search" method="post">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" name="fullName" class="form-control" placeholder="Search using full name "
                           style="background-color: #DADADA">
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Find" class="btn" style="background-color: #66B700"/>
                </div>
                <!--<h3 th:text="|all lawyers: ${users.size()}|"></h3>-->
                <div class="col-md-6"></div>
            </div>
        </form>
        <div class="row news-heading">
            <div th:each="user : ${users}" class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="mem-content2">
                    <div class="mem-content3 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <a th:href="|/individualprofile/${user.id}|">
                                <img alt="profile picture" th:src="${user.imageUrl}" src="assets/img/profile.jpg" style="border-radius: 250px;">
                            </a>
                        </div>
                        <div class="col-md-3"></div>

                        <div class="news-details" style="text-align: center;">
                            <h5 th:text="|${user.firstName} ${user.lastName}|">John Doe</h5>
                            <h5 style="color: #D2D0D0;" th:text="${user.honorific}">Associate</h5>
                            <hr>
                            <ion-icon style="color: black;" name="call"></ion-icon>
                            <ion-icon style="color: black;" name="mail"></ion-icon>
                            <ion-icon style="color: black;" name="logo-linkedin"></ion-icon>
                            <ion-icon style="color: black;" name="logo-facebook"></ion-icon>
                            <ion-icon style="color: black;" name="logo-envelope"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="mem-content2">
                    <div class="mem-content3 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <a href="/individualprofile">
                                <img src="assets/img/profile.jpg" style="border-radius: 250px;">
                            </a>
                        </div>
                        <div class="col-md-3"></div>

                        <div class="news-details" style="text-align: center;">
                            <h5>John Doe</h5>
                            <h5 style="color: #D2D0D0;">Associate</h5>
                            <hr>
                            <ion-icon style="color: black;" name="call"></ion-icon>
                            <ion-icon style="color: black;" name="mail"></ion-icon>
                            <ion-icon style="color: black;" name="logo-linkedin"></ion-icon>
                            <ion-icon style="color: black;" name="logo-facebook"></ion-icon>
                            <ion-icon style="color: black;" name="logo-envelope"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="mem-content2">
                    <div class="mem-content3 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <a href="/individualprofile">
                                <img src="assets/img/profile.jpg" style="border-radius: 250px;">
                            </a>
                        </div>
                        <div class="col-md-3"></div>

                        <div class="news-details" style="text-align: center;">
                            <h5>John Doe</h5>
                            <h5 style="color: #D2D0D0;">Associate</h5>
                            <hr>
                            <ion-icon style="color: black;" name="call"></ion-icon>
                            <ion-icon style="color: black;" name="mail"></ion-icon>
                            <ion-icon style="color: black;" name="logo-linkedin"></ion-icon>
                            <ion-icon style="color: black;" name="logo-facebook"></ion-icon>
                            <ion-icon style="color: black;" name="logo-envelope"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="mem-content2">
                    <div class="mem-content3 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <a href="/individualprofile">
                                <img src="assets/img/profile.jpg" style="border-radius: 250px;">
                            </a>
                        </div>
                        <div class="col-md-3"></div>

                        <div class="news-details" style="text-align: center;">
                            <h5>John Doe</h5>
                            <h5 style="color: #D2D0D0;">Associate</h5>
                            <hr>
                            <ion-icon style="color: black;" name="call"></ion-icon>
                            <ion-icon style="color: black;" name="mail"></ion-icon>
                            <ion-icon style="color: black;" name="logo-linkedin"></ion-icon>
                            <ion-icon style="color: black;" name="logo-facebook"></ion-icon>
                            <ion-icon style="color: black;" name="logo-envelope"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>

    <!-- End of Footer -->

</section>
<script src="assets/js/app.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>