<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="layout :: head('Find Member')">

</head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <header th:insert="layout :: header" ></header>
    <div style="padding: 15px;">
        <h3 class="breadcrumb" style="background-color: #66b700;">News</h3>
    </div>

    <div class="container">

        <div class="row news-heading">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="mem-content2">
                    <div class="mem-content3 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <img src="assets/img/prof.png" style="border-radius: 250px;">
                        </div>
                        <div class="col-md-3"></div>

                        <div class="news-details" style="text-align: center;">
                            <h5>John Doe</h5>
                            <p>
                                perspiciatis unde omnis iste natus error veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo perspiciatis unde
                                omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="mem-content2">
                    <div class="mem-content3 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <img src="assets/img/prof.png" style="border-radius: 250px;">
                        </div>
                        <div class="col-md-3"></div>

                        <div class="news-details" style="text-align: center;">
                            <h5>John Doe</h5>
                            <p>
                                perspiciatis unde omnis iste natus error veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo perspiciatis unde
                                omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="mem-content2">
                    <div class="mem-content3 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <img src="assets/img/prof.png" style="border-radius: 250px;">
                        </div>
                        <div class="col-md-3"></div>

                        <div class="news-details" style="text-align: center;">
                            <h5>John Doe</h5>
                            <p>
                                perspiciatis unde omnis iste natus error veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo perspiciatis unde
                                omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>
    <!-- End of Footer -->

</section>
<script src="assets/js/app.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>