<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head th:insert="layout :: head('Home')"></head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <header th:insert="layout :: header"></header>

    <!-- End of Home Page -->
    <div style="padding-top: 60px" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="padding: 7px; background-color: #66B700; border-radius: 15px"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" style="padding: 7px; background-color: #66B700; border-radius: 15px"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" style="padding: 7px; background-color: #66B700; border-radius: 15px"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">

                <div class=" landing-background" th:each="featuredEvent : ${featuredEvents}">
                    <div class="landing-content">
                        <h1 th:text="${featuredEvent.title}">NBA Annual
                            <br>Conference</h1>
                        <p th:text="${featuredEvent.description}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to
                            make.
                        </p>
                        <a class="btn"
                           style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                           th:href="|/viewevents/${featuredEvent.id}|">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="landing-image ">
                        <img th:src="${featuredEvent.imageUrl}" src="assets/img/bg1.png " class="girl-bg ">
                    </div>
                </div>
                <div class=" landing-background">
                    <div class="landing-content">
                        <h1>NBA Annual
                            <br>Conference</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to
                            make.
                        </p>
                        <a class="btn"
                           style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                           href="#">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="landing-image ">
                        <img src="assets/img/bg1.png " class="girl-bg ">
                    </div>
                </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="container">

                    <div class=" landing-background ">
                        <div class="landing-content ">
                            <h1>NBA Test Pae
                                <br>Conference</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to
                                make.
                            </p>
                            <a class="btn"
                               style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                               th:href="@{/news}">Read More <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="landing-image ">
                            <img src="assets/img/bg1.png " class="girl-bg ">
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="container">

                    <div class=" landing-background ">
                        <div class="landing-content ">
                            <h1>TALK TRUE
                                <br>Conference</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to
                                make.
                            </p>
                            <a class="btn"
                               style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                               th:href="@{/news}">Read More <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="landing-image ">
                            <img src="assets/img/bg1.png " class="girl-bg ">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--<h3 th:text="|featured events: ${featuredEvents.size()}|"></h3>-->
    <!-- About Us -->
    <section class="landingpageTwo" style="background-color: #66b700; border-top-left-radius: 40px;">
        <div class="landing-background-Two">
            <div class="landing-image2">
                <img src="assets/img/Mask Group.png">
            </div>
            <div class="landing-content-Two">
                <h1>About Us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make.
                </p>
                <a class="btn"
                   style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                   href="/about">Read More <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </section>
    <!-- End of About Us -->

    <!-- President Page -->

    <div class="landing-background-Three">

        <div class="landing-content-Three">
            <h6>President</h6>
            <h1>Olumide A. Akpata</h1>
            <p>Olumide A. Akpata was born on 7 October 1972, and I had my early education in Warri, Delta State. I
                thereafter attended King's College, Lagos from where I proceeded to study Law at the University of
                Benin (UNIBEN). I graduated from
                UNIBEN in 1992, and I was called to the Nigerian Bar on 15 December, 1993.</p>
            <a class="btn" style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
               th:href="@{/president}">Read More <i class="fas fa-arrow-right"></i></a>

        </div>
        <div class="landing-image3">
            <img src="assets/img/Olumide president 1.png">
        </div>
    </div>
    <!-- End of President Page -->

    <!-- Latest News -->

    <div class="landing-background-Four">
        <h1>Latest News</h1>
        <div class="landing-background-PageFour" th:each="news : ${latestNews}">
            <div class="landing-content-Four-One">
                <div class="PageFour-Content">
                    <h6>NEWS</h6>
                    <h5 th:text="${news.title}">The standard Lorem Ipsum passage, used since the 1500s</h5>
                    <p th:text="${news.description}">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        ....</p>
                    <a class="btn"
                       style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                       th:href="|/newspage/${news.id}|">Read More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="landing-background-PageFour">
            <div class="landing-content-Four-One">
                <div class="PageFour-Content">
                    <h6>NEWS</h6>
                    <h5>The standard Lorem Ipsum passage, used since the 1500s</h5>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        ....</p>
                    <a class="btn"
                       style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                       href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="landing-content-Four-Two">
                <div class="PageFour-Content">
                    <h6>NEWS</h6>
                    <h5>The standard Lorem Ipsum passage, used since the 1500s</h5>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        ....</p>
                    <a class="btn"
                       style="background: linear-gradient(90deg, #2D6936 -6.45%, #00A419 95.97%);cursor: pointer;"
                       href="#">Read More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!--<h3 th:text="|latest news: ${latestNews.size()}|"></h3>-->
    </div>
    <!-- End of Latest News -->


    <!-- Footer -->
    <footer th:insert="layout :: footer">

    </footer>
    <!-- End of Footer -->

</section>

<script src="assets/js/app.js "></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js "></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js "></script>
</body>

</html>