<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout :: head('Full Profile')">

</head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <header th:insert="layout :: header" ></header>
    <div style="padding: 35px;">
        <h3 class="breadcrumb" style="background-color: #66b700;">News</h3>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="mem-content2">
                    <div class=" row">
                        <div class="col-md-6" style="padding-top: 10px;">
                            <img th:src="${user.imageUrl}" src="/assets/img/profile.jpg" style="border-radius: 20px; width: 300px;">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>

                        <div class="news-details">
                            <h6 style="color: #D2D0D0; font-size: 12px; margin: 0px;">Name</h6>
                            <h5 th:text="|${user.firstName} ${user.lastName}|">John Doe</h5>
                            <h6 style="color: #D2D0D0; font-size: 12px; margin: 0px;">SC Number</h6>
                            <p th:text="${user.SCNumber}">123456</p>
                            <ion-icon style="color: black; font-size: 12px;" name="call"></ion-icon>
                            <span style="font-size: 14px;" th:text="${user.phoneNumber}"> +2348168898023</span><br><br>
                            <ion-icon style="color: black;" name="mail"></ion-icon>
                            <a th:href="|mailto:${user.email}|">
                                <span style="font-size: 14px;" th:text="${user.email}"> johndoe@gmail.com</span>
                            </a>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="mem-content2">
                    <h6 style="color: #D2D0D0; font-size: 25px; margin: 0px;">Bio</h6>
                    <p style="text-align: justify;">
                        perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis et quasi architecto beatae vitae dicta sunt explicabo
                        perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo
                        perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo
                    </p><br>
                    <h6 style="color: #D2D0D0; font-size: 16px; margin: 0px;">Chambers address</h6>
                    <p>
                        126, Rose Dale,<br>
                        Salavtion Road,<br>
                        Opebi, Ijeka.
                    </p>
                    <ion-icon style="color: black;" name="logo-facebook"></ion-icon>
                    <br>
                    <ion-icon style="color: black;" name="logo-linkedin"></ion-icon>


                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>

    <!-- End of Footer -->

</section>
<script th:src="@{/assets/js/app.js}"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>