<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="layout :: head('News')">

</head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <header th:insert="layout :: header" ></header>
    <div class="mini-heading">
        <h3 class="breadcrumb">News</h3>
    </div>

    <div class="container">

        <div class="row news-heading">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="news-content2">
                    <div class="news-content3">
                        <img src="assets/img/news.jpg">

                        <div class="news-details">
                            <h6>Aug 5, 2021</h6>
                            <h5>John Doe</h5>
                            <p>
                                perspiciatis unde omnis iste natus error veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo perspiciatis unde
                                omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis
                            </p>
                            <a href="Read More">Read More →</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="news-content2">
                    <div class="news-content3">
                        <img src="assets/img/news.jpg">

                        <div class="news-details">
                            <h6>Aug 5, 2021</h6>
                            <h5>John Doe</h5>
                            <p>
                                perspiciatis unde omnis iste natus error veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo perspiciatis unde
                                omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis
                            </p>
                            <a href="Read More">Read More →</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="news-content2">
                    <div class="news-content3">
                        <img src="assets/img/news.jpg">

                        <div class="news-details">
                            <h6>Aug 5, 2021</h6>
                            <h5>John Doe</h5>
                            <p>
                                perspiciatis unde omnis iste natus error veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo perspiciatis unde
                                omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis
                            </p>
                            <a href="Read More">Read More →</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>

    <!-- End of Footer -->

</section>
<script src="assets/js/app.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>