<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="layout :: head('Reset password')">

</head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <header th:insert="layout :: header" ></header>

    <div class="container ">
        <div class="row ">
            <div class="col-2 ">

            </div>
            <div class="col-8 ">
                <div style=" border-bottom-right-radius: 30px; margin-top: 25px; ">
                    <div class="row ">

                        <div class="col-6 " style=" background-color: #F8F7FD; border-bottom-left-radius: 30px; ">
                            <img src="assets/img/login.jpg "
                                 style="width: 100%; border-bottom-left-radius: 40px; border-top-right-radius: 40px; ">
                        </div>
                        <div class="col-6 " style=" background-color: #F8F7FD; padding: 20px; ">
                            <form method="post" action="/login">
                                <div style="padding: 40px; ">
                                </div>
                                <p th:if="${param.error}" th:text="${param.message}" class="alert alert-danger alert-dismissible text-center">Actual Message</p>
                                <input type="password" class="form-control " name="password" placeholder="Password">
                                <div style="padding: 10px; ">
                                </div>
                                <input type="password" class="form-control " name="confpassword" placeholder="Password">
                                <div style="padding: 10px; ">
                                </div>
                                <div style="padding-right: 30%; ">
                                    <button type="button " class="button btn form-control ">Login <i class="fa fa-sign-in "></i>
                                    </button><br><br>
                                    <a style="padding-top: 40px" href="/signup">Register</a><br>
                                    <a style="padding-top: 40px" href="/forgotpassword">Forgot Password</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-2 ">

            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>

    <!-- End of Footer -->
</section>

<script src="assets/js/app.js "></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js "></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js "></script>
</body>

</html>