<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout :: head('Register')">

</head>

<body>
<!-- Landing Page one -->
<section class="Landing-page">
    <header th:insert="layout :: header">

    </header>
    <div style="padding: 35px;">
        <h3 class="breadcrumb" style="background-color: #66b700;">News</h3>
    </div>
    <h4 th:class="${!#strings.isEmpty(message)}  ? 'alert alert-success alert-dismissible text-success fade in' : 'hidden'"
        th:text="${message}">Success Message</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>
                <h2 class="text-center">Sign Up</h2><br><br>
                <form th:action="@{/signup}" th:method="post" th:object="${user}">
                    <section
                            th:class="${#fields.hasErrors('*')}  ? 'alert alert-danger alert-dismissible text-danger fade in' : 'hidden'">
                        <li th:each="e : ${#fields.detailedErrors()}" th:attr="field=${e.fieldName}"
                            th:text="${e.message}"></li>
                    </section>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right; ">Full Name</p>
                        </div>
                        <div class="col-md-5">
                            <input th:field="*{firstName}" type="text" class="form-control" placeholder="First Name "
                                   style="background-color: #DADADA">
                        </div>
                        <div class="col-md-4">
                            <input th:field="*{lastName}" type="text" class="form-control" placeholder="Last Name"
                                   style="background-color: #DADADA">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right; ">Email Address</p>
                        </div>
                        <div class="col-md-9">
                            <input th:field="*{email}" type="email" class="form-control"
                                   style="background-color: #DADADA">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right; ">Phone Number</p>
                        </div>
                        <div class="col-md-9">
                            <input th:field="*{phoneNumber}" type="text" class="form-control"
                                   style="background-color: #DADADA">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right; ">Address</p>
                        </div>
                        <div class="col-md-9">
                            <input th:field="*{address}" type="text" class="form-control"
                                   style="background-color: #DADADA">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right; ">About me</p>
                        </div>
                        <div class="col-md-9">
                            <textarea name="aboutMe" id="" cols="30" rows="5" class="form-control" style="background-color: #DADADA"></textarea>

                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right; ">Supreme Court Number</p>
                        </div>
                        <div class="col-md-5">
                            <input th:field="*{SCNumber}" type="text" class="form-control"
                                   style="background-color: #DADADA">
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right; ">Chamber Address</p>
                        </div>
                        <div class="col-md-9">
                            <input th:field="*{chamberAddress}" type="text" class="form-control"
                                   style="background-color: #DADADA">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="text-align: right;">Password</p>
                        </div>
                        <div class="col-md-5">
                            <input th:field="*{password}" type="password" class="form-control"
                                   style="background-color: #DADADA">
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="button btn law form-control">Sign up &nbsp;<i class="fa fa-user-plus"></i></button><br><br>
                            <a style="padding-top: 20px; text-align: center;" href="/login">Have an account? Login</a>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer th:insert="layout :: footer"></footer>
    <!-- End of Footer -->

</section>
<script src="assets/js/app.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>